* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.container .boxA {
    height: 10vh;
    width: 10vh;
    background-color: aquamarine;
    border: 5px solid blue;
    order: 2;
}

.container .boxB {
    height: 10vh;
    width: 10vh;
    background-color: green;
    border: 5px solid black;
    order: 3;
}

.container .boxC {
    height: 10vh;
    width: 10vh;
    background-color: yellow;
    border: 5px solid red;
    order: 1;
}